xml/Schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = book

book = element book{commentary, song}
    commentary = element commentary{text}
    song = element song{origin, theme, lyrics}
        origin = attribute origin{text}
        theme = attribute theme{"specificTheme1" | "specificTheme2" | "etc."}
        lyrics = element lyrics{text}