xml/Schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = book

book = element book{commentary, song}
    commentary = element commentary{text}
    song = element song{originCountry?, originTime?, subject, lyrics}
        originCountry = attribute originCountry{text}
        originTime = attribute originTime{xsd:date | xsd:gYearMonth | xsd:gYear | "N/A"}
        subject = attribute theme{"specificTheme1" | "specificTheme2" | "etc."}
        lyrics = element lyrics{text}